<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link rel=File-List href="himaya%20final_files/filelist.xml">
<style id="himaya final_21960_Styles">
<!--table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:"\,";}
.font521960
	{color:black;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;}
.font621960
	{color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;}
.font721960
	{color:black;
	font-size:22.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;}
.font821960
	{color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;}
.font921960
	{color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;}
.xl6421960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6521960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl6621960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#C00000;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl6721960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6821960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl6921960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7021960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #C00000;
	border-right:.5pt solid #C00000;
	border-bottom:none;
	border-left:.5pt solid #C00000;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7121960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#C00000;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7221960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7321960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7421960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7521960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7621960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:16.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7721960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7821960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	border-top:1.0pt solid #C00000;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7921960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid #C00000;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8021960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:13.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8121960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#C00000;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8221960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8321960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8421960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl8521960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8621960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8721960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8821960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#C00000;
	font-size:12.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8921960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid #C00000;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9021960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:12.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9121960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:red;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9221960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#00B050;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9321960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#C00000;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9421960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9521960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:13.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9621960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9721960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:white;
	font-size:10.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl9821960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9921960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10021960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10121960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10221960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#C00000;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10321960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:10.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl10421960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#C00000;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10521960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:13.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10621960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:13.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10721960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#C00000;
	font-size:12.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10821960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:12.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10921960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#C00000;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl11021960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl11121960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl11221960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:11.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl11321960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:10.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl11421960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border-top:1.0pt solid #C00000;
	border-right:none;
	border-bottom:none;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl11521960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl11621960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl11721960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:10.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:1.0pt solid #C00000;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl11821960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:22.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl11921960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:22.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl12021960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl12121960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid #C00000;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl12221960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:white;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:Percent;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl12321960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#C00000;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:#FFFFCC;
	mso-pattern:black none;
	white-space:nowrap;}
.xl12421960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl12521960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:"\[ENG\]\[$-409\]d\\-mmm\\-yy\;\@";
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl12621960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:8.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid #C00000;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl12721960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#0070C0;
	font-size:10.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:"\[ENG\]\[$-409\]mmmm\\ d\\\,\\ yyyy\;\@";
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid #C00000;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl12821960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:white;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Arial Black", sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid #C00000;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:#C00000;
	mso-pattern:black none;
	white-space:nowrap;}
.xl12921960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #C00000;
	border-bottom:.5pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl13021960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #C00000;
	border-right:.5pt solid #C00000;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl13121960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #C00000;
	border-bottom:.5pt solid #C00000;
	border-left:.5pt solid #C00000;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl13221960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid #C00000;
	border-right:.5pt solid #C00000;
	border-bottom:none;
	border-left:.5pt solid #C00000;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl13321960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #C00000;
	border-bottom:.5pt solid #C00000;
	border-left:.5pt solid #C00000;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl13421960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #C00000;
	border-bottom:none;
	border-left:.5pt solid #C00000;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl13521960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl13621960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl13721960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:white;
	font-size:13.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:"0\.0%";
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl13821960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl13921960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt dot-dash #C00000;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;
	mso-rotate:90;}
.xl14021960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt dot-dash #C00000;
	border-bottom:1.0pt solid #C00000;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;
	mso-rotate:90;}
.xl14121960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt dot-dash #C00000;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl14221960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid #C00000;
	border-left:1.0pt dot-dash #C00000;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl14321960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#C00000;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl14421960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#0070C0;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl14521960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:#00B050;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl14621960
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Cambria, serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #C00000;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
-->
</style>
</head>

<body>
<!--[if !excel]>&nbsp;&nbsp;<![endif]-->
<!--The following information was generated by Microsoft Excel's Publish as Web
Page wizard.-->
<!--If the same item is republished from Excel, all information between the DIV
tags will be replaced.-->
<!----------------------------->
<!--START OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD -->
<!----------------------------->

<div id="himaya final_21960" align=center x:publishsource="Excel">

<table border=0 cellpadding=0 cellspacing=0 width=788 class=xl6721960
 style='border-collapse:collapse;table-layout:fixed;width:593pt'>
 <col class=xl6721960 width=18 style='mso-width-source:userset;mso-width-alt:
 658;width:14pt'>
 <col class=xl7421960 width=31 style='mso-width-source:userset;mso-width-alt:
 1133;width:23pt'>
 <col class=xl7521960 width=96 style='mso-width-source:userset;mso-width-alt:
 3510;width:72pt'>
 <col class=xl7421960 width=55 style='mso-width-source:userset;mso-width-alt:
 2011;width:41pt'>
 <col class=xl7421960 width=72 style='mso-width-source:userset;mso-width-alt:
 2633;width:54pt'>
 <col class=xl7421960 width=37 style='mso-width-source:userset;mso-width-alt:
 1353;width:28pt'>
 <col class=xl7421960 width=70 style='mso-width-source:userset;mso-width-alt:
 2560;width:53pt'>
 <col class=xl7421960 width=80 style='mso-width-source:userset;mso-width-alt:
 2925;width:60pt'>
 <col class=xl7421960 width=29 style='mso-width-source:userset;mso-width-alt:
 1060;width:22pt'>
 <col class=xl7421960 width=61 style='mso-width-source:userset;mso-width-alt:
 2230;width:46pt'>
 <col class=xl7421960 width=69 style='mso-width-source:userset;mso-width-alt:
 2523;width:52pt'>
 <col class=xl7421960 width=64 style='mso-width-source:userset;mso-width-alt:
 2340;width:48pt'>
 <col class=xl6721960 width=53 span=2 style='width:40pt'>
 <tr height=27 style='mso-height-source:userset;height:20.25pt'>
  <td height=27 class=xl6721960 width=18 style='height:20.25pt;width:14pt'></td>
  <td colspan=12 rowspan=4 class=xl11821960 width=717 style='width:539pt'>HIMAYA
  EXAMINATION BOARD<br>
    <font class="font521960">WORDS ACADEMY, HADIA CSE</font><font
  class="font721960"><br>
    </font><font class="font621960">Panakkad, Malappuram, Kerala, India -
  676519<br>
    www.wordsacademy.in, info@wordsacademy.in</font></td>
  <td class=xl6721960 width=53 style='width:40pt'></td>
 </tr>
 <tr height=27 style='mso-height-source:userset;height:20.25pt'>
  <td height=27 class=xl6721960 style='height:20.25pt'></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=27 style='mso-height-source:userset;height:20.25pt'>
  <td height=27 class=xl6721960 style='height:20.25pt'></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=36 style='mso-height-source:userset;height:27.0pt'>
  <td height=36 class=xl6721960 style='height:27.0pt'></td>
  <td class=xl6721960></td>
 </tr>
 <tr class=xl7621960 height=20 style='mso-height-source:userset;height:15.0pt'>
  <td height=20 class=xl7621960 style='height:15.0pt'></td>
  <td colspan=2 class=xl12621960>Academic Year 2023-'24</td>
  <td colspan=7 class=xl12821960>GRADE CARD</td>
  <td class=xl11721960>Issued on:</td>
  <td colspan=2 class=xl12721960><%= dateValue %></td>
  <td class=xl7621960></td>
 </tr>
 <tr class=xl6421960 height=24 style='height:18.0pt'>
  <td height=24 class=xl6421960 style='height:18.0pt'></td>
  <td colspan=11 class=xl10021960>ANNUAL EXAMINATION-APRIL-2023</td>
  <td class=xl6421960></td>
  <td class=xl6421960></td>
 </tr>
 <tr height=1 style='mso-height-source:userset;height:.75pt'>
  <td height=1 class=xl6721960 style='height:.75pt'></td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl6821960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
 </tr>
 <tr class=xl6421960 height=24 style='height:18.0pt'>
  <td height=24 class=xl6421960 style='height:18.0pt'></td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl9821960>Ad.No.<span style='mso-spacerun:yes'> </span></td>
  <td colspan=2 class=xl12321960><%= admission %></td>
  <td class=xl6621960>&nbsp;</td>
  <td class=xl10021960>&nbsp;</td>
  <td colspan=3 class=xl12421960>&nbsp;</td>
  <td colspan=2 class=xl12521960>&nbsp;</td>
  <td class=xl6421960></td>
  <td class=xl6421960></td>
 </tr>
 <tr class=xl6421960 height=1 style='mso-height-source:userset;height:.75pt'>
  <td height=1 class=xl6421960 style='height:.75pt'></td>
  <td colspan=11 class=xl10021960><span style='mso-spacerun:yes'>  </span></td>
  <td class=xl6421960></td>
  <td class=xl6421960></td>
 </tr>
 <tr class=xl6421960 height=24 style='height:18.0pt'>
  <td height=24 class=xl6421960 style='height:18.0pt'></td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl6521960>Name</td>
  <td colspan=9 class=xl6521960><%= name %></td>
  <td class=xl6421960></td>
  <td class=xl6421960></td>
 </tr>
 <tr class=xl6421960 height=1 style='mso-height-source:userset;height:.75pt'>
  <td height=1 class=xl6421960 style='height:.75pt'></td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl6521960>&nbsp;</td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl6421960></td>
  <td class=xl6421960></td>
 </tr>
 <tr class=xl6421960 height=24 style='height:18.0pt'>
  <td height=24 class=xl6421960 style='height:18.0pt'></td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl9821960>Term</td>
  <td colspan=9 class=xl9821960><%= term %></td>
  <td class=xl6421960></td>
  <td class=xl6421960></td>
 </tr>
 <tr class=xl6421960 height=24 style='height:18.0pt'>
  <td height=24 class=xl6421960 style='height:18.0pt'></td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl9821960>Centre</td>
  <td colspan=9 class=xl9821960><%= college %></td>
  <td class=xl6421960></td>
  <td class=xl6421960></td>
 </tr>
 <tr class=xl6421960 height=24 style='height:18.0pt'>
  <td height=24 class=xl6421960 style='height:18.0pt'></td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl6421960></td>
  <td class=xl6421960></td>
 </tr>
 <tr class=xl6421960 height=25 style='height:18.75pt'>
  <td height=25 class=xl6421960 style='height:18.75pt'></td>
  <td class=xl10021960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl9821960>&nbsp;</td>
  <td class=xl6421960></td>
  <td class=xl6421960></td>
 </tr>
 <tr height=5 style='mso-height-source:userset;height:3.75pt'>
  <td height=5 class=xl6721960 style='height:3.75pt'></td>
  <td class=xl8921960>&nbsp;</td>
  <td class=xl7821960>&nbsp;</td>
  <td class=xl8921960>&nbsp;</td>
  <td class=xl8921960>&nbsp;</td>
  <td class=xl7921960>&nbsp;</td>
  <td class=xl8921960>&nbsp;</td>
  <td class=xl8921960>&nbsp;</td>
  <td class=xl7921960>&nbsp;</td>
  <td class=xl8921960>&nbsp;</td>
  <td class=xl8921960>&nbsp;</td>
  <td class=xl8921960>&nbsp;</td>
  <td class=xl8921960>&nbsp;</td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td rowspan=2 class=xl12921960>SC</td>
  <td rowspan=2 class=xl13121960>Subject</td>
  <td colspan=2 class=xl13321960 style='border-left:none'>FA</td>
  <td rowspan=2 class=xl13421960>Sts.</td>
  <td colspan=2 class=xl13321960 style='border-left:none'>SA</td>
  <td rowspan=2 class=xl13421960>Sts.</td>
  <td colspan=2 class=xl13321960 style='border-left:none'>Total</td>
  <td colspan=2 rowspan=2 class=xl14621960>Sts</td>
  <td class=xl6721960></td>
 </tr>
 <tr height=23 style='mso-height-source:userset;height:17.25pt'>
  <td height=23 class=xl6721960 style='height:17.25pt'></td>
  <td class=xl7021960 style='border-top:none;border-left:none'>Out of</td>
  <td class=xl7021960 style='border-top:none;border-left:none'>Scored</td>
  <td class=xl7021960 style='border-top:none;border-left:none'>Out of</td>
  <td class=xl7021960 style='border-top:none;border-left:none'>Scored</td>
  <td class=xl7021960 style='border-top:none;border-left:none'>Out of</td>
  <td class=xl7021960 style='border-top:none;border-left:none'>Scored</td>
  <td class=xl6721960></td>
 </tr>
 <tr height=3 style='mso-height-source:userset;height:2.25pt'>
  <td height=3 class=xl6721960 style='height:2.25pt'></td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl6821960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl10121960>&nbsp;</td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td class=xl10421960>1</td>
  <td class=xl10221960>QURAN</td>
  <td class=xl10421960>100</td>
  <td class=xl7121960><%= qfaValue %></td>
  <td class=xl7121960 style='font-size:13.0pt;color:#00B050;font-weight:700;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'><%= qstValue %></td>
  <td class=xl10421960>**</td>
  <td class=xl10921960><%= qsaValue %></td>
  <td class=xl7121960 style='font-size:13.0pt;color:#00B050;font-weight:700;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'><%= qsastValue %></td>
  <td class=xl10421960>100</td>
  <td class=xl10721960><%= qtoValue %></td>
  <td colspan=2 class=xl14521960 style='font-size:11.0pt;color:#00B050;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Cambria, serif;border:.5pt solid windowtext;background:white;
  mso-pattern:black none'><%= qpassValue %></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=28 style='mso-height-source:userset;height:21.0pt'>
  <td height=28 class=xl6721960 style='height:21.0pt'></td>
  <td class=xl9921960>2</td>
  <td class=xl6821960>HADEES</td>
  <td class=xl9921960>100</td>
  <td class=xl8621960><%= hfaValue %></td>
  <td class=xl7121960 style='font-size:13.0pt;color:#00B050;font-weight:700;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'><%= hstValue %></td>
  <td class=xl9921960>**</td>
  <td class=xl11021960><%= hsaValue %></td>
  <td class=xl10121960 style='font-size:13.0pt;color:#00B050;font-weight:700;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'><%= hsastValue %></td>
  <td class=xl9921960>100</td>
  <td class=xl11121960><%= htoValue %></td>
  <td colspan=2 class=xl14521960 style='font-size:11.0pt;color:#00B050;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Cambria, serif;border:.5pt solid windowtext;background:white;
  mso-pattern:black none'><%= hpassValue %></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=28 style='mso-height-source:userset;height:21.0pt'>
  <td height=28 class=xl6721960 style='height:21.0pt'></td>
  <td class=xl10421960>3</td>
  <td class=xl10221960>FIQH</td>
  <td class=xl10421960>100</td>
  <td class=xl7121960><%= ffaValue %></td>
  <td class=xl7121960 style='font-size:13.0pt;color:#00B050;font-weight:700;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'><%= fstValue %></td>
  <td class=xl10421960>**</td>
  <td class=xl10921960><%= fsaValue %></td>
  <td class=xl9121960 style='font-size:13.0pt;color:#00B050;font-weight:700;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'><%= fsastValue %></td>
  <td class=xl10421960>100</td>
  <td class=xl10721960><%= ftoValue %></td>
  <td colspan=2 class=xl14521960 style='font-size:11.0pt;color:#00B050;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Cambria, serif;border:.5pt solid windowtext;background:white;
  mso-pattern:black none'><%= fpassValue %></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=28 style='mso-height-source:userset;height:21.0pt'>
  <td height=28 class=xl6721960 style='height:21.0pt'></td>
  <td class=xl9921960>4</td>
  <td class=xl6821960>TAJWEED</td>
  <td class=xl9921960>100</td>
  <td class=xl8621960><%= tfaValue %></td>
  <td class=xl9121960 style='font-size:13.0pt;color:#00B050;font-weight:700;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'><%= tstValue %></td>
  <td class=xl9921960>**</td>
  <td class=xl11021960><%= tsaValue %></td>
  <td class=xl9121960 style='font-size:13.0pt;color:#00B050;font-weight:700;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'><%= tsastValue %></td>
  <td class=xl7221960>100</td>
  <td class=xl10821960><%= ttoValue %></td>
  <td colspan=2 class=xl14521960 style='font-size:11.0pt;color:#00B050;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Cambria, serif;border:.5pt solid windowtext;background:white;
  mso-pattern:black none'><%= tpassValue %></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl6821960>&nbsp;</td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl8621960>&nbsp;</td>
  <td class=xl9121960>&nbsp;</td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl11021960>&nbsp;</td>
  <td class=xl9121960>&nbsp;</td>
  <td class=xl7221960>&nbsp;</td>
  <td class=xl10821960>&nbsp;</td>
  <td class=xl9221960>&nbsp;</td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl6821960>&nbsp;</td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl8621960>&nbsp;</td>
  <td class=xl9121960>&nbsp;</td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl11021960>&nbsp;</td>
  <td class=xl9121960>&nbsp;</td>
  <td class=xl7221960>&nbsp;</td>
  <td class=xl10821960>&nbsp;</td>
  <td class=xl9221960>&nbsp;</td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl6821960>&nbsp;</td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl8621960>&nbsp;</td>
  <td class=xl9121960>&nbsp;</td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl11021960>&nbsp;</td>
  <td class=xl9121960>&nbsp;</td>
  <td class=xl7221960>&nbsp;</td>
  <td class=xl10821960>&nbsp;</td>
  <td class=xl9221960>&nbsp;</td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl6821960>&nbsp;</td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl8621960>&nbsp;</td>
  <td class=xl9121960>&nbsp;</td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl11021960>&nbsp;</td>
  <td class=xl9121960>&nbsp;</td>
  <td class=xl7221960>&nbsp;</td>
  <td class=xl10821960>&nbsp;</td>
  <td class=xl9221960>&nbsp;</td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
 </tr>
 
 
 

 
 
 
 

  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td colspan=2 class=xl13521960>Total:</td>
  <td class=xl9921960>400</td>
  <td class=xl10121960><%= tofaValue %></td>
  <td class=xl9921960 style='font-size:13.0pt;color:white;font-weight:400;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'>&nbsp;</td>
  <td class=xl9921960>00</td>
  <td class=xl10121960><%= tosaValue %></td>
  <td class=xl9921960 style='font-size:13.0pt;color:white;font-weight:400;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'>&nbsp;</td>
  <td class=xl9921960>400</td>
  <td colspan=3 class=xl12121960><%= totaValue %></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td colspan=2 class=xl13621960>Percentage (%):</td>
  <td colspan=2 class=xl13721960 style='font-size:13.0pt;color:windowtext;
  font-weight:400;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Cambria, serif;background:white;mso-pattern:black none'><%= percentageValue %></td>
  <td class=xl9921960 style='font-size:13.0pt;color:white;font-weight:400;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'>&nbsp;</td>
  <td colspan=2 class=xl13721960 style='font-size:13.0pt;color:windowtext;
  font-weight:400;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Cambria, serif;background:white;mso-pattern:black none'>&nbsp;</td>
  <td class=xl9921960 style='font-size:13.0pt;color:white;font-weight:400;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'>&nbsp;</td>
  <td class=xl7421960></td>
  <td colspan=3 class=xl12221960 style='font-size:13.0pt;color:windowtext;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Cambria, serif;background:white;mso-pattern:black none'>&nbsp;</td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='mso-height-source:userset;height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td colspan=2 class=xl13521960># of Failed:</td>
  <td colspan=2 class=xl9921960 style='font-size:13.0pt;color:white;font-weight:
  400;text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'><%= perfailedValue %></td>
  <td class=xl9921960 style='font-size:13.0pt;color:white;font-weight:400;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'>&nbsp;</td>
  <td colspan=2 class=xl9921960 style='font-size:13.0pt;color:white;font-weight:
  400;text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'>0</td>
  <td class=xl9921960 style='font-size:13.0pt;color:white;font-weight:400;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'>&nbsp;</td>
  <td colspan=3 class=xl10121960 style='font-size:13.0pt;color:white;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Cambria, serif;background:white;mso-pattern:black none'>0</td>
  <td class=xl6721960></td>
  <td class=xl9921960 style='font-size:13.0pt;color:white;font-weight:400;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Cambria, serif;background:white;mso-pattern:black none'>&nbsp;</td>
 </tr>
 <tr height=5 style='mso-height-source:userset;height:3.75pt'>
  <td height=5 class=xl6721960 style='height:3.75pt'></td>
  <td class=xl7921960>&nbsp;</td>
  <td class=xl7821960>&nbsp;</td>
  <td class=xl7921960>&nbsp;</td>
  <td class=xl7921960>&nbsp;</td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl7921960>&nbsp;</td>
  <td class=xl7921960>&nbsp;</td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl7921960>&nbsp;</td>
  <td class=xl7921960>&nbsp;</td>
  <td class=xl7921960>&nbsp;</td>
  <td class=xl11421960>&nbsp;</td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td colspan=4 class=xl10221960>ACADEMIC REPORT</td>
  <td class=xl9921960>&nbsp;</td>
  <td colspan=5 class=xl10221960>REMARKS &amp; ACKNOWLEDGMENT</td>
  <td class=xl9921960>&nbsp;</td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td colspan=2 class=xl11521960>Grand Total:</td>
  <td class=xl10121960><%= grtotalValue %></td>
  <td class=xl9921960></td>
  <td class=xl6721960></td>
  <td rowspan=5 class=xl13921960 style='border-bottom:1.0pt solid #C00000'>Reference</td>
  <td rowspan=5 class=xl14121960 width=80 style='border-bottom:1.0pt solid #C00000;
  width:60pt'><font class="font921960">FA</font><font class="font821960">:
  Formative Assessment<br>
    </font><font class="font921960">SA</font><font class="font821960">:
  Summative Assessment</font></td>
  <td colspan=4 class=xl14321960>GRADE</td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='mso-height-source:userset;height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td colspan=2 class=xl13821960>Overall Percentage:</td>
  <td colspan=2 class=xl12221960 style='font-size:13.0pt;color:windowtext;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Cambria, serif;background:white;mso-pattern:black none'></td>
  <td class=xl6721960></td>
  <td class=xl7721960>&quot;O&quot;<span style='display:none'><span
  style='mso-spacerun:yes'>     </span>:</span></td>
  <td class=xl7721960>&gt;=95%</td>
  <td class=xl11521960>&quot;B&quot;<span style='mso-spacerun:yes'> </span></td>
  <td colspan=2 class=xl6921960>&gt;=60%</td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td colspan=2 class=xl11521960># Failed Subjects:</td>
  <td class=xl9121960><%= failsubValue %></td>
  <td class=xl9921960></td>
  <td class=xl6721960></td>
  <td class=xl7721960>&quot;E&quot; <span style='display:none'><span
  style='mso-spacerun:yes'>    </span>:</span></td>
  <td class=xl7721960>&gt;=90%</td>
  <td class=xl11521960>&quot;C+&quot;</td>
  <td colspan=2 class=xl6921960>&gt;=50%</td>
  <td class=xl6721960></td>
 </tr>
 <tr height=34 style='mso-height-source:userset;height:25.5pt'>
  <td height=34 class=xl6721960 style='height:25.5pt'></td>
  <td colspan=2 class=xl11521960>Overall Grade:</td>
  <td colspan=2 class=xl14421960><%= gradeValue %></td>
  <td class=xl6721960></td>
  <td class=xl7721960>&quot;A&quot;<span style='display:none'><span
  style='mso-spacerun:yes'>     </span>:</span></td>
  <td class=xl7721960>&gt;=80%</td>
  <td class=xl11521960>&quot;C&quot;</td>
  <td class=xl7721960>&gt;=40%</td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=19 style='mso-height-source:userset;height:14.25pt'>
  <td height=19 class=xl6721960 style='height:14.25pt'></td>
  <td class=xl9921960>&nbsp;</td>
  <td colspan=2 class=xl11521960>Status:</td>
  <td colspan=2 class=xl10121960 style='font-size:13.0pt;color:#00B050;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Cambria, serif;background:white;mso-pattern:black none'><%= statusValue %></td>
  <td class=xl9421960>&quot;B+<span style='display:none'>&quot;<span
  style='mso-spacerun:yes'>     </span>:</span></td>
  <td class=xl9421960>&gt;=70%</td>
  <td class=xl11321960 width=69 style='width:52pt'>&nbsp;</td>
  <td class=xl11321960 width=64 style='width:48pt'>&nbsp;</td>
  <td class=xl11621960>&nbsp;</td>
  <td class=xl6721960></td>
 </tr>
 <tr height=21 style='mso-height-source:userset;height:15.75pt'>
  <td height=21 class=xl6721960 style='height:15.75pt'></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl9721960 width=37 style='width:28pt'>&nbsp;</td>
  <td class=xl10321960 width=70 style='width:53pt'>&nbsp;</td>
  <td class=xl8321960>&nbsp;</td>
  <td class=xl8021960>&nbsp;</td>
  <td class=xl8021960>&nbsp;</td>
  <td class=xl10521960>&nbsp;</td>
  <td class=xl8521960>&nbsp;</td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=44 style='mso-height-source:userset;height:33.0pt'>
  <td height=44 class=xl6721960 style='height:33.0pt'></td>
  <td colspan=12 class=xl12021960 width=717 style='width:539pt'>Disclaimer:
  Please note that the online result published is provisional and should not be
  used as an official confirmation of your achievement</td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl7421960></td>
  <td class=xl8121960>&nbsp;</td>
  <td class=xl8121960>&nbsp;</td>
  <td class=xl7121960>&nbsp;</td>
  <td class=xl8121960>&nbsp;</td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl8421960>(Sign.)</td>
  <td class=xl11221960>&nbsp;</td>
  <td class=xl11221960>&nbsp;</td>
  <td class=xl11221960>&nbsp;</td>
  <td class=xl11221960>&nbsp;</td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=21 style='mso-height-source:userset;height:15.75pt'>
  <td height=21 class=xl6721960 style='height:15.75pt'></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
  <td class=xl8221960 colspan=4>Coordinator, HIMAYA</td>
  <td class=xl9621960>(Seal)</td>
  <td class=xl11621960>&nbsp;</td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td colspan=11 class=xl7421960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
 </tr>
 <tr height=22 style='height:16.5pt'>
  <td height=22 class=xl6721960 style='height:16.5pt'></td>
  <td colspan=11 class=xl7421960></td>
  <td class=xl6721960></td>
  <td class=xl6721960></td>
 </tr>
 <![if supportMisalignedColumns]>
 <tr height=0 style='display:none'>
  <td width=18 style='width:14pt'></td>
  <td width=31 style='width:23pt'></td>
  <td width=96 style='width:72pt'></td>
  <td width=55 style='width:41pt'></td>
  <td width=72 style='width:54pt'></td>
  <td width=37 style='width:28pt'></td>
  <td width=70 style='width:53pt'></td>
  <td width=80 style='width:60pt'></td>
  <td width=29 style='width:22pt'></td>
  <td width=61 style='width:46pt'></td>
  <td width=69 style='width:52pt'></td>
  <td width=64 style='width:48pt'></td>
  <td width=53 style='width:40pt'></td>
  <td width=53 style='width:40pt'></td>
 </tr>
 <![endif]>
</table>

</div>


<!----------------------------->
<!--END OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD-->
<!----------------------------->
</body>

</html>
